<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587468145711-1561rq1vd38oidommtr3e075cj26g9he.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587468145711-1561rq1vd38oidommtr3e075cj26g9he</string>
	<key>API_KEY</key>
	<string>AIzaSyDfDh_yWtk4oU7wzinYBUFIijAnYOufujM</string>
	<key>GCM_SENDER_ID</key>
	<string>587468145711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airbornharsh.shoreApp</string>
	<key>PROJECT_ID</key>
	<string>shore-fccbb</string>
	<key>STORAGE_BUCKET</key>
	<string>shore-fccbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587468145711:ios:d1c0a90060a69294abf2da</string>
</dict>
</plist>